body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      color: #333;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 36px;
      font-weight: bold;
      color: #FF4081;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #4285F4;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    ul {
      list-style: disc;
      margin-left: 20px;
    }

    #adoption,
    #vaccination,
    #rehabilitation,
    #medicine {
      display: none;
    }

    #adoption h2 {
      color: #FF4081;
    }

    #vaccination h2 {
      color: #4285F4;
    }

    #rehabilitation h2 {
      color: #FDBB2F;
    }

    #medicine h2 {
      color: #0F9D58;
    }
  </style>
</head>
<body>