
body{
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #F5FFFF;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-size: 12px;
  font-weight: 200;
}

p{
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

#logo{
  width: 40px;
  height: 40px;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #A4D1D1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 40%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
}

#ele{
  margin: 10px 20px;
}

#ele ul{
  margin: 0%;
  padding: 2px;
}

#li-ele{
  list-style: none;
  text-decoration: none;
  color: #088178;
}

#ele h1{
  text-align: center;
  font-weight: 800;
  margin: 0 0 1rem 0;
}

#ele p{
  margin: 0%;
  font-weight: 500;
}

.head-ele{
  margin: 0;
  color: #088178;
}

#adoption,
#vaccination,
#rehabilitation,
#medicine {
  display: none;
}

#adoption h2 {
  color: #FF4081;
}

#vaccination h2 {
  color: #4285F4;
}

#rehabilitation h2 {
  color: #FDBB2F;
}

#medicine h2 {
  color: #0F9D58;
}

#foot{
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #A4D1D1;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .logo{
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}

footer h4{
  margin: 0%;
  font-size: 14px;
  padding-bottom: 10px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px; 
}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #088178;
}

.icons i{
  color: #008080;
}

.cr{
  align-items: center;
  display: flex;
  justify-content: center;
  width:100%;
  font-size: 12px;
  font-weight: 300;
  padding: 0%;
  background-color: #262626;
  width: 100%;
}

.cr p{
  margin: 0%;
  font-size: 12px;
  padding: 1px 2px;
}

.cr p{
  color: #A4D1D1;
}
